/* колір основного тексту color: #212121; */
/* вторичний колір color: #757575;*/
/* акцент color: #2196F3; */
/* колір навігації у footer rgba(255, 255, 255, 0.6); */
/* колір основного фону  #E5E5E5 */
/* вторичний колір фону #F5F4FA; */
/* footer background: #2F303A; */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --nav-footer-colot: rgba(255, 255, 255, 0.6);
    --primary-background-color: #ffffff;
    --secondary-backgound-color: #F5F4FA;
    --hero-footer-background: #2F303A;
    --border-color: #eeeeee;
   
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
   color: var(--primary-text-color);
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
   
}
/* утилітил класів */


.link{
    text-decoration: none;
    color: inherit;
     font-style: normal;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.list{
    padding: 0px;
    margin: 0px; 
     list-style: none;
}

address{
    font-style: normal;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
h1,
h3,
h2,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
}
.link:hover,
.link:focus{
    color: var(--accent-color);
}
/* шапка сайта  */
.top-navigation{
    display: flex;
    align-items: center;
}
/* logo */
.border{
    border:1px solid #ececec ;
}
.logo {
    padding-top: 24px ;
    padding-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
   
}

.logo-interactive {
    color: var(--accent-color);
}

.logo:hover,
.logo:focus{
    color: var(--accent-color);
}

.top-conection{
    display: flex;
    margin-left: 94px;
}
.top-conection > .item:not(:last-child){
    margin-right: 55px;
}
.top-contacts{
    display: flex;
    margin-left: auto; 
    
}
.top-contacts >.item:not(:last-child){
    margin-right: 50px;

}


.nav-link.current::after{
    content: "";
     position: absolute;
     bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
}

.nav-link.current{
    position: relative  ;
   color:  var(--accent-color);
}


.nav-link{
  
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color)
}

.contacts{
    padding-top: 32px;
    padding-bottom: 32px;
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}

.icon-contacts{
    margin-right: 10px;
    fill: currentColor;
}

/* секція герой  */

.hero{     
       margin-left: auto;
        margin-right: auto;    background-color: var(--hero-footer-background);
          padding-top: 200px;
        padding-bottom: 200px;  background-position: center;
       max-width: 1600px;
    height: 600px; 
     text-align: center;
     background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.png.png);
     background-color: #2f303a;
      background-repeat: no-repeat;
      background-position: center;
    
        
        
    }

.hero-title {
    margin: 0 auto 30px;
    max-width: 696px;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


.hero-button{
    padding: 10px 24px  ;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            min-width: 200px;
        
            color: #ffffff;
            background-color: #2196f3;
        
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            letter-spacing: 0.06em;
            cursor: pointer;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.hero-button:hover,
.hero-button:focus {
    background-color: #188ce8;
}
/* Чим ми займаємося */
.our-work-list{
    display: flex;
    flex-wrap:wrap ;
    margin-left: -30px;
    margin-top: -30px;
    flex-basis: calc((100% - 30px * 3) / 3);
} 
.our-work-list > .item{
    margin-left: 30px;
    margin-top: 30px;
}
.item-works{
    position: relative;
}

.our-work-text{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 70px;
    background: rgba(47,
     48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.item-works{
    position: relative;
  }
  
  .our-works-text{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    min-height: 70px;
  
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
  }
/* наші переваги  */
.about-us{
    padding-top: 94px;
}
.retreat{
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
}
.retreat >.item{
    flex-basis: calc((100% - 30px * 4) / 4);
    margin-top: 30px;
    margin-left: 30px;
}

.about-us-tittle{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14 ;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.about-us-text {
    color: var(--secondary-text-color);
}

.about-icon{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
    height: 120px;
background: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
    }

/* наша команда  */
.section-title{
    margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        color: var(--primary-text-color);
}
.comanda{
    background: var(--secondary-backgound-color)
}

.card{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    
    }
.cart{
    flex-basis: calc((100% - 30px * 4)/4);
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
border-radius: 0px 0px 4px 4px;
}

.bg-footer{
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--hero-footer-background);
}
.bg-footer .container{
    justify-content: space-between;
    display: flex;
}
.widget-blok{

    flex-basis: calc((50% - 15px) / 2);
    }
    
 .widget-blok:last-child{
      
      flex-basis: calc(50% - 15px);
    }
    
.join{
      margin-bottom: 20px;
      display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: #FFFFFF;
    }
.footer-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
}   

.footer-icon-link:hover,
.footer-icon-link:focus{
    background-color: var(--accent-color);
    fill: #FFFFFF;
    transition: fill var(--animation), background-color var(--animation);
}
.content{
    padding-top: 30px;
        padding-bottom: 16px;
}
.team-title{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        color: var(--primary-text-color);
}

.team-title+p{
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        color:var(--secondary-text-color)
}
.social-icon .icon{
    width: 20px;
    height: 20px;
}
.social-icon-item{
    width: 44px;
    height: 44px;
     
}
.social-icon-link{
  display: flex; 
  justify-content: center;
  align-items: center; 
   width: 100%;
   height: 100%;
   border-radius: 50%;
    fill:#afb1b8;
    background-color: #FFFFFF;
  
}
.social-icon > .social-icon-item:not(:last-child){
    margin-right: 10px;

}
.social-icon{
    display: inline-flex;
    padding-bottom: 30px;
   
} 
.social-icon-link:hover,
.social-icon-link:focus{
    background-color: var(--accent-color);
    fill: #FFFFFF;
}

/* постійні клієнти  */
.main-icon{
    display:flex;
 flex-wrap: wrap;
 margin-left: -30px;
 margin-top: -30px;
}
.main-icon >.item{
    flex-basis: calc((100% - 30px * 6) / 6);
    margin-left: 30px;
    margin-top: 30px;
    }
 .main-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill:  #AFB1B8;
    transform: color var(--animation), backround-color var(--animatiom);
    
}
.main-icon-link:hover,
.main-icon-link:focus{
    background-color: #ffffff;
fill: var(--accent-color);

}.main-icon-item:hover,
.main-icon-item:focus{
border: 1px solid var(--accent-color);
fill: var(--accent-color);

}

.main-icon .icon{
   width: 44px; 
    height: 44px;
}
.main-icon-item{
width: 170px;
height: 90px;
}

.main-icon > .main-icon-item{
    margin-left: 30px;
}


.main-icon-link{
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #afb1b8;
    border-radius: 4px;
}

.logo-footer{

    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
    color: var(--primary-background-color)
}
.end{
    color: rgba(255, 255, 255, 0.6);
}
.city{
        font-size: 14px;
        line-height: 1.17;
    color:var(--primary-background-color);
}


.btns{
    padding: 6px 22px;

    color: var(--primary-text-color);
    background-color: #f5f4fa;
    border-radius: 4px;
    border: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    
}
.btns:hover,
.btns:focus {
    color: var(--primary-background-color);
    background-color: #188ce8;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn:hover,
.btn:focus{
  background-color: #188ce8;
  cursor: pointer;
  transition: color var(--animation), cubic-bezier(0.4, 0, 0.2, 1);
}

.description{
position: relative;
padding: 20px 24px;
border-radius: var(--border-color);
border-left: var(--border-color);
border-bottom: var(--border-color);
transition: var(--animation), border var(--animation);
}
.description:hover,
.description:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
.fly{
    display: flex;
    margin-bottom: 50px;
   justify-content:center;
}


.fly > .item:not(:last-child){
    margin-right: 8px;
   
}


.projects-item {
    display: flex;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.projects .link {
color: var(--primary-text-color);
}

.projects-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.projects {
display: flex;
flex-wrap: wrap;
margin-left: -30px;
margin-top: -30px;
}

.projects>.item:not(:lact-child) {
flex-basis: calc((100% - 30px * 3) / 3);
margin-left: 30px;
margin-top: 30px;
}

.projects p {
color: var(--secondary-text-color);
font-size: 16px;
line-height: 1.87;
}

.progect-list {
    margin-top: -30px;
    margin-left: -30px;

    display: flex;
    flex-wrap: wrap;

}
.progect-list > .item{
    flex-basis: calc((100% - 30px * 3 ) / 3);
    margin-left: 30px;
    margin-top:30px;
    
}
 .footer-contacts {
        font-size: 14px;
        line-height: 1.78;
        color: rgba(255, 255, 255, 0.6);
      }
      
.item-footer{
    margin-bottom: 10px;
  }

  /* Modal */

  .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 120;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .backdrop.is-hidden{
    visibility:hidden;
    opacity:0;
    pointer-events:none;
  }
  
  .modal{
    position: absolute;
    top: 50%;
    left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  max-width: 528px;
  min-height: 581px;
  background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
  }
  
  .btn-close{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items:center;
    display: block;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
  }

/* overlay */
.project-thumb {
    position: relative;
    overflow: hidden;
  }
  
  .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .projects-link:hover .project-overlay,
  .projects-link:focus .project-overlay {
    transform: translateY(0);
    background-color: rgba(33, 150, 243, 0.9);
  }
  
  .project-overlay>p {
    padding: 63px 24px;
    color: #ffffff;
   
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
  }
  
.img {
   
    display: block;
    max-width: 100%;
    height: auto;
    }
.form-fieled{
 box-sizing: border-box;
position: absolute;
border: 0.1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;


}
.form-fieled input{
    width: 358px;
    height: 50px;
    margin: 0;
    padding: px px;
    border-radius: 3px;
    border: 1px solid #2a2a2a;
    background-color: var(--hero-footer-background);

}
.form-fieled label {
    margin-bottom: 5px;

}
.button-footer{
    position: absolute;
   width: 200px;
   height: 50px;
   left: 1185px;
   top: 2787px;
   
   color: var(--primary-background-color);
   background: #2196F3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   /* identical to box height, or 188% */
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   
   }