/* колір основного тексту color: #212121; */
/* вторичний колір color: #757575;*/
/* акцент color: #2196F3; */
/* колір навігації у footer rgba(255, 255, 255, 0.6); */
/* колір основного фону  #E5E5E5 */
/* вторичний колір фону #F5F4FA; */
/* footer background: #2F303A; */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --nav-footer-colot: rgba(255, 255, 255, 0.6);
    --primary-background-color: #ffffff;
    --secondary-backgound-color: #F5F4FA;
    --hero-footer-background: #2F303A;
    --border-color: #eeeeee;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
   color: var(--primary-text-color);
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* утилітил класів */


.link{
    text-decoration: none;
    color: inherit;
        font-style: normal;
}

.list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

address{
    font-style: normal;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
.link:hover,
.link:focus{
    color: var(--accent-color);
}
/* шапка сайта  */
.top-navigation{
    display: flex;
}
/* logo */
.border{
    border:1px solid #ececec ;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}

.logo-interactive {
    color: var(--accent-color);
}

.logo:hover,
.logo:focus{
    color: var(--accent-color);
}

.top-conection{
    display: flex;
    margin-left: 94px;
}
.link.current{
    color: var(--accent-color);
}

.nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color)
}

.contacts{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}




/* секція герой  */

.hero{     
       background-color: var(--hero-footer-background);
        background-position: center;
        background-color: #2f303a;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        height: 600px;
    }

.hero-title {
    margin: 0 auto 30px;
    max-width: 696px;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


.hero-button{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            min-width: 200px;
        
            color: #ffffff;
            background-color: #2196f3;
        
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            letter-spacing: 0.06em;
            cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188ce8;
}



/* наші переваги  */
.about-us-tittle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14 ;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.about-us-text {
    color: var(--secondary-text-color);
}
/* чим ми займаємося  */
.section-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        color: var(--primary-text-color);
}

/* наша команда  */

.comanda{
    background: var(--secondary-backgound-color)
}


.blak-footer{
        width: 1600px;
        height: 252px;
        top: 2097px;
        background:var(--hero-footer-background)
}
.team-title{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        color: var(--primary-text-color);
}
.team-title+p{
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        color:var(--secondary-text-color)
}
.logo-footer{
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
    color: var(--primary-background-color)
}
.end{
    color: rgba(255, 255, 255, 0.6);
}
.city{
        font-size: 14px;
        line-height: 1.17;
    color:var(--primary-background-color);
}


.btns {
    color: var(--primary-text-color);
    background-color: #f5f4fa;
    border-radius: 4px;
    border: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.btns:hover,
.btns:focus {
    color: var(--primary-background-color);
    background-color: #188ce8;
}

.btn:hover,
.btn:focus{
  background-color: #188ce8;
  cursor: pointer;
}


.card{
    background: var(--primary-background-color);
    border-radius: 4px;
   border-left: 215px;
   border-bottom: 696px;
    width: 270px;
}
.content{
    padding-top: 30px;
        padding-bottom: 30px;
}
.description{
padding: 20px 24px;
border-radius: var(--border-color);
border-left: var(--border-color);
border-bottom: var(--border-color);
}
.description:hover,
.description:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cart{
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
border-radius: 0px 0px 4px 4px;
}
